@model MuniApp.Negocio.entidades.PagoDetalle

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PagoDetalle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.collection_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.collection_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.collection_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.collection_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.external_reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.external_reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.payment_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.payment_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.merchant_order_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.merchant_order_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preference_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preference_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.site_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.site_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.processing_mode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.processing_mode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.merchant_account_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.merchant_account_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_paid_amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_paid_amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.net_received_amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.net_received_amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transaction_amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transaction_amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecuenciaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecuenciaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.PersonaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PagoDetalleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
