@model MuniApp.Negocio.entidades.Deuda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deuda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaVencimientoReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaVencimientoReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Padron)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Padron)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio.AnioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoTipo.PeriodoTipoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaTipo.PersonaTipoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rubro.RubroId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeudaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
