@model MuniApp.Negocio.entidades.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CobroDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CobroDetalle.CobroDetalleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPago.EstadoPagoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoDetalle.PagoDetalleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoTipo.PagoTipoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaEntidadDeutaDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaEntidadDeutaDetalle.PersonaEntidadDeudaDetalleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PagoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
